@import url(https://fonts.googleapis.com/css?family=Nunito);

* {
  font-family: Nunito;
}

h1 {
  font-size: 2em;
}

body {
  margin: 0;
}

.body0 {
  background-color: #e6f7ff;
}

.body1 {
  background-color: #ffff99;
}

.body2 {
  background-color: #ffc0cb;
}

nav {
  position: sticky;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}

.nav0 {
  background-color: #3a71c1;
}

.nav1 {
  background-color: #ffce44;
}

.nav2 {
  background-color: #ff69b4;
}

nav a.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s;
  padding: 0px 0px;
  margin: 0px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

nav a.logo:hover {
  color: #888888;
}

nav ul {
  list-style: none;
  display: flex;
  padding-inline-start: 0;
}

nav ul li {
  margin-left: 80px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px 20px;
  margin: -10px;
}

nav ul li a:hover {
  color: #888888;
}

section {
  margin: 2% 8%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.content {
  align-items: center;
  display: flex;
}

.blog-post {
  margin-bottom: 20px;
}

.text {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.photo {
  flex-shrink: 0;
  margin-left: 20px;
}

.photo img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
}

.skills .content .text {
  margin-right: 30px;
}