@import url(https://fonts.googleapis.com/css?family=Nunito);

* {
  font-family: Nunito;
}

h1 {
  font-size: 2em;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a:hover {
  color: #888888 !important;
}

:target {
  scroll-margin-top: 92px;
}

.body0 {
  background-color: #bcd6f0;
}

.body0 nav {
  background-color: #3a71c1;
}

.body0 section a {
  color: #2a5c99;
}

.body1 {
  background-color: #ffeb99;
}

.body1 nav {
  background-color: #ffcc00;
}

.body1 section a {
  color: #ffa700;
}

.body2 {
  background-color: #ffc1e3;
}

.body2 nav {
  background-color: #ff69b4;
}

.body2 section a {
  color: #ff3d8a;
}

/*nav {
  position: sticky;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav a.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s;
  padding: 0px 0px;
  margin: 0px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  padding-inline-start: 0;
  box-sizing: border-box;
}

nav ul li {
  margin-left: 80px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px 20px;
  margin: -10px;
}*/

nav {
  position: sticky;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 60px;
  box-sizing: border-box;
  width: 100%; /* Set a flexible width */
  background-color: #3a71c1; /* Add a background color for visibility */
  top: 0;
  z-index: 1;
}

nav a.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 0.3s;
  padding: 0px 0px;
  margin: 16px 0px;
  font-size: 40px; /* Adjusted font size for better proportion */
  font-weight: bold;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  padding-inline-start: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: flex-end;
}

nav ul li {
  margin: 0px 0px 0px 40px;
  text-align: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  padding: 10px 20px;
  display: block;
  line-height: 1.5;
}

section {
  margin: 2% 8%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.content {
  align-items: center;
  display: flex;
}

.content .text p {
  /*margin: 0;*/
  margin-left: 0;
  margin-right: 0;
}

.content + .content {
  margin-top: 1em;
}

.content .text li {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.blog-post {
  margin-top: 30px;
}

.projects {
  margin: 0;
  padding: 0;
  width: 100%;
}

.project {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project .description {
  flex: 1;
}

.text {
  display: inline-block;
  align-items: flex-start;
  flex-direction: column;
}

.photo {
  flex-shrink: 0;
  margin-left: 100px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.photo img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline;
}

.intro .photo {
  margin-left: 30px;
}

.awards .photo/*, .education .photo*/ {
  display: flex;
  flex-direction: column;
}

.awards .photo img/*, .education .photo img*/ {
  margin-bottom: 1em;
}

.education table {
  border: 0px;
}

.education table td {
  padding: 0px 100px 0px 0px;
}

.education table td p {
  text-align: left;
  margin: 0px;
}

.experience .content {
  justify-content: space-between;
}

.photo1 {
  margin-left: 100px;
  background-color: #0c6cb4;
}

td {
  text-align: center;
  padding-inline: 10px;
}

ul.horizontal {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-block: 0;
}

ul.horizontal li {
  margin-right: 30px;
}

.major a img {
  width: 100%;
}

iframe {
  width: 500px;
}

.show-on-small {
  display: none;
}

@media only screen and (max-width: 1220px) {
  nav ul li {
    margin: 0px 0px;
    text-align: center;
  }

  nav a.logo {
    font-size: 30px;
  }

  .content, .project {
    flex-direction: column;
  }

  .content .text, .project .description {
    align-self: flex-start;
  }

  .content .photo, .project .photo, tr.photo {
    margin-left: 0 !important;
    align-items: center;
  }

  .photo + .photo {
    margin-top: 15px;
  }

  .education table td {
    padding: 0px;
  }

  .awards .photo.hide-on-small {
    display: none;
  }

  .hide-on-small {
    display: none;
  }

  .show-on-small {
    display: flex;
  }

  .show0 {
    justify-content: center;
  }
}

@media only screen and (max-width: 610px) {
  iframe {
    width: 100%;
  }
}